black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer

sys
pytz
time
seaborn
csv
matplotlib
sklearn
typing
warnings
loguru
pathlib

scipy
colour
-e .
